/*1.Css reset
2.Css standard
3.自命名css放最前面,裝飾css擺在結構css之前
4.使用@import"_XX.scss"管理所有css
5.使用css變數重複使用css設定*/

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body,html{
    margin:0 auto;
    color:white;
    background:black;
}

header{
    position:relative;
    width:100%;
    height:250px;
    background:linear-gradient(to left top,blue,#F7D358);
    padding:30px;
    color:white;


}
header .uplayer{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:2;
    background:grey;
    opacity:0.2;
    animation:animate1 linear 2s infinite;
 
}
header nav{}
header h2{
    font-size:100px;
    color:transparent;/*透明*/
    font-weight:bold;
    text-align:center;
    margin-top:30px;
    text-shadow: 1px 1px 10px white;
    
}
@keyframes animate1{
    0%{ background:pink;}
    25%{ background:#00FFFF;}
    50%,75%{background:yellow;}
    100%{background:#81F79F;}
}



aside,section,footer{
    padding:30px;
    margin-top:
}

aside{
    width:300px;
    border:1px solid white;
    margin-top:100px;
    margin-left:50px;
}
section{
    width:90%;
    border:1px solid white;
    margin-top:50px;
    margin-left:50px;
}

footer{
    margin-top:
    margin-left:50px;
    border:1px solid white;
}